<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Finding Hospitals Suite">

    <listeners>

        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>


    <test name="Hospital Tests">
        <classes>
            <class name="tests.HospitalTest"/>
            <class name="tests.DiagnosticsTest"/>
            <class name="tests.CorporateWellnessTest"/>
        </classes>
    </test>

</suite>